<div>
  <canvas></canvas>
    <three-area *ngIf="data">
    <!--<three-area >-->
      <renderer>
        <scene>
            <perspective-camera>
              <camera-orbit-control></camera-orbit-control>
            </perspective-camera>
            <box-control id="{{data['Guest']['LastName']}}"></box-control>
            <!--<box-control ></box-control>-->
            <cube-control>
                <item-3d></item-3d>
            </cube-control>
            <hemisphere-light></hemisphere-light>
            <direct-light></direct-light>
        </scene>
      </renderer>
    </three-area>
</div>
