<div>
  <canvas></canvas>
    <three-area *ngIf="data">
    <!--<three-area >-->
      <renderer>
        <scene>
            <perspective-camera>
              <camera-orbit-control></camera-orbit-control>
            </perspective-camera>

            <group-3d>
                <box-control id="{{data['Guest']['LastName']}}"></box-control>
            </group-3d>

            <!--<box-control ></box-control>-->
            <cube-control>
                <bind-object>
                    <bind-item></bind-item>
                </bind-object>
            </cube-control>
            <hemisphere-light></hemisphere-light>
            <direct-light></direct-light>
        </scene>
      </renderer>
    </three-area>
</div>
